.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: black;
  top: 0; /* Ensure it's fixed at the top */
}

.navbar-brand > img {
  width: 60%;
}

.navbar-brand {
  margin-left: 5px;
}

.navbar-right {
  margin-right: 15px; /* Adjust as needed for right margin */
}

.navbar-right > button {
  margin-left: 5px; /* Adjust as needed for left margin */
}

.content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
}

.container {
  margin-top: 20rem;
  margin-bottom: 20rem;
  margin-left: 150px; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
}

.container > p {
  color: white;
  margin-left: -15vh;
  margin-top: -10px;
  font-size: 30px;
  font-weight: 200;
}

.container > h1 {
  margin-left: -15vh;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
}
